
/************************************************
        Reset
*************************************************/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/************************************************
        Root/Body & Variables
*************************************************/
:root {
    --off-white: #fcfcf9;
    --action-purple: #7165b9;
    --light-purple: #d3bad8;
    --eggplant: #202231;
    --bright-purple: #b3329c;
}

body {
    background: var(--off-white);
}

.App {
    height: 100vh;
    width: 100vw;
}

/************************************************
        Blocks
*************************************************/

.splash-screen-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

.home-wrapper {
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

.onboard-input-wrapper {
    display: flex;
    flex-direction: column;
}

.onboard-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
}

.nav-wrapper {
    border-top: 1px solid var(--light-purple);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.sets-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.each-set-wrapper {
    display: flex;
    flex-direction: column;

    border: 1px solid var(--action-purple);
    border-radius: 12px;
    color: var(--action-purple);
    cursor: default;
    height: calc(90vw *  0.35);
    max-height: 200px;
    margin: 20px 0 0;
    opacity: 0.6;
    padding: 12px;
    width: 90vw;
    max-width: 500px;
    
    
    &:hover, 
    &:active, 
    &:focus {
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
        height: 200px;
        opacity: 1;
        transition: height 200ms ease-in-out;

        .set-bttm-wrapper {
            display: flex;
            margin-top: 50px;
            opacity: 1;

            transition: 
                margin 250ms ease-in-out, 
                opacity 450ms ease-in-out;
        }
    }
}

.set-top-wrapper {
    display: flex;
}

.set-text-wrapper {
    margin: 0 0 0 20px;
}

.set-bttm-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 0;
    margin-bottom: 20px;
    opacity: 0;
    width: 100%;
}

.create-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.create-input-wrapper {
    margin: 60px auto 0;
    width: 90%
}

.new-word-wrapper {
    margin: 30px 0 0;
    width: 75%;

    &:focus-within .new-word {
        opacity: 1;
    }
}

/************************************************
        Text
*************************************************/

.splash-title {
    animation: flow 5s ease-in-out infinite;
    background: linear-gradient(
        -60deg, 
        var(--eggplant), 
        var(--action-purple),
        var(--bright-purple)
    );
    background-size: 300%;
    margin: -20px 0 0 22px;

    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.onboard-title {
    color: var(--action-purple);
    font-size: 2rem;
    font-weight: 700;
}

.onboard-label {
    color: var(--light-purple);
    font-size: 0.85rem;
    font-weight: 400;
    margin: 20px 0 0;
}

.onboard-input-wrapper:focus-within .onboard-label {
    color: var(--action-purple);
}

.onboard-switch-text {
    color: var(--action-purple);
    font-size: 0.85rem;
}

.page-title {
    color: var(--action-purple);
    font-size: 1.75rem;
    font-weight: 700;
    margin: 15px 0 0;
}

.set-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.set-num-terms {
    font-size: 1rem;
}

/************************************************
        Forms / Inputs / Links
*************************************************/

.onboard-form {
    display: flex;
    flex-direction: column;
}

.onboard-text-input {
    border: 2px solid var(--light-purple);
    border-radius: 13px;
    color: var(--light-purple);
    font-weight: 600;
    padding: 8px;

    &:active,
    &:focus {
        border-color: var(--action-purple);
        color: var(--action-purple);
    }
}

.onboard-submit {
    background: var(--action-purple);
    border: 2px solid var(--action-purple);
    border-radius: 13px;
    color: var(--off-white);
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 20px 0 0;
    padding: 8px;
}

.onboard-switch-btn {
    border: none;
    color: var(--bright-purple);
    cursor: pointer;
    font-weight: 600;
}

.nav-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.top-nav-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.practice-btn {
    background: var(--action-purple);
    border: none;
    border-radius: 12px;
    color: var(--off-white);
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 600;
    margin: 20px 0 30px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    width: 55%;
}

.edit-btn {
    background: var(--eggplant);
    border: none;
    border-radius: 12px;
    color: var(--off-white);
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 600;
    margin: 20px 0 30px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    width: 35%;
}

.deck-title-input {
    border: none;
    border-bottom: 1px solid var(--action-purple);
    color: var(--action-purple);
    font-size: 1.125rem;
    font-weight: 600;
    padding: 0 1px;
    width: 99%;

    &::placeholder {
        color: var(--action-purple);
        opacity: 0.6;
    }
}

.new-word {
    border: 1px solid var(--action-purple);
    color: var(--action-purple);
    font-size: 0.95rem;
    font-weight: 600;
    opacity: 0.6;
    padding: 10px;
    width: 100%;
}

.top-input {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.bottom-input {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top: none;
}

.add-more-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: 20px 0 0;
}

/************************************************
        Graphics
*************************************************/

.splash-logo-svg {
    height: 100px;
    width: 100px;
    animation: svg-change 8s ease-in-out infinite;
}

.dolphin-path {
    stroke-dasharray: 2500;
    stroke-dashoffset: 2500;
    animation: draw 4s linear forwards;
}

.nav-svg {
    stroke: var(--action-purple);
}

.top-nav-svg {
    stroke: var(--bright-purple);
}

.set-image {
    border: 2px solid var(--action-purple);
    border-radius: 10px;
    width: 25vw;
    max-width: 100px;
}

/************************************************
        Animations
*************************************************/

@keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
}

@keyframes flow {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes svg-change {
    0% {
        stroke: var(--eggplant);
    }

    25% {
        stroke: var(--action-purple);
    }

    50% {
        stroke: var(--bright-purple);
    }
    
    75% {
        stroke: var(--action-purple);
    }

    100% {
        stroke: var(--eggplant);
    }
}